#header {
    height: 50px;
    background: #10284e;
    color: white;
}

#header img {
    padding-right: 20px;
}

#branding h1 {
    color: white;
}

a:link, 
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #30caa0;
    color: white;
}


div.breadcrumbs a:link, 
div.breadcrumbs a:visited {
    color: #333;
}

.module h2, .module caption, .inline-group h2 {
    background: #30caa0;
}